body, h1 {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('sciezka/do/BLUE.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    animation: colorChange 5s linear infinite alternate;
    text-align: center;
}

@keyframes colorChange {
    0% {
        color: blue;
    }
    100% {
        color: white;
    }
}
